body{
	background: rgb(184,32,180);
	background: linear-gradient(351deg, rgba(184,32,180,0.5) 0%, rgba(201,107,235,0.5) 40%, rgba(116,209,238,0.5) 100%);
	background-repeat: no-repeat;
	height: 100vh;
	color: #8800ff;
}
.btn-success{
	background-color: #a703cf !important;
	border: none !important;
}
.btn-secondary {
	background-color: #e88aff !important;
	border: none !important;
}
input {
	border-radius: 20px;
	border: 1px solid white;
	text-align: center;
}
input::placeholder{
	text-align: center;
}
input:focus{
	outline: none;
}
.gifka{
	width: 100px;
	animation: slidein;
	animation-duration: 7s;
  	animation-name: slidein;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
}
@keyframes slidein {
  0% {
    margin-left: -100px;
  }
  100% {
  	margin-left: 105vw;
  }
}
.footer{
	position: fixed;
	top: 90vh;
}
